.topnav{
  overflow: hidden;
  background-color: black;
  font-family: Arial;
  margin: 0 auto;
}

.topnav a{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  background-color: white;
  color: black;
}

header{
  color: black;
  box-sizing: border-box;
}

main{
  margin: 64px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 16px 32px 32px 32px;
  background-color: #ffffff;
}

body{
  padding: 0 30px;
  line-height: 26px;
  font-family: "Arial", sans-serif;
  background: url("img/mainbg.png") no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

footer{
  margin: 64px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #3b3b3b;
}
.section{

}
