nav{
  overflow:hidden;
  background-color: black;
  font-family: Arial;
  margin: 0 auto;
}

nav a{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover{
  background-color: white;
  color: black;
}

header{
  color: black;
}

main{
  padding: 16px 32px 32px 32px;
}
